.promotion--card-icon svg {
  width: var(--icon-width, 3rem);
  display: inline-block;
  color: rgba(var(--color-foreground));
}
.shipping__items--title {
  margin-bottom: 0.8rem;
}
.promotion--card-icon {
  line-height: 1;
}
.promotion--card:not(.promotion--card-icon--top):not(
    .promotion--card-icon--bottom
  )
  .promotion--card-icon:not(.max-width-false) {
  width: var(--icon-width);
  max-width: 7rem;
}
.promotion--card-icon--top .promotion--card-icon {
  margin-bottom: 1.5rem;
}
.promotion--card:not(.promotion--card-icon--top) {
  display: flex;
  gap: 1.5rem;
}
.promotion--card.promotion--card-icon--left {
  text-align: left;
}
.promotion--card.promotion--card-icon--right {
  text-align: right;
  flex-direction: row-reverse;
}
.promotion--card.promotion--card-icon--bottom {
  flex-direction: column-reverse;
}
@media only screen and (max-width: 749px) {
  .promotion--card:not(.promotion--card-icon--top) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .promotion--card.promotion--card-icon--left {
    text-align: center;
  }
  .promotion--card.promotion--card-icon--right {
    text-align: center;
  }
  .promotion--card.promotion--card-icon--bottom {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 750px) {
  .promotion--card-padded-small {
    padding: 1.5rem;
  }

  .promotion--card-padded-medium {
    padding: 3rem;
  }

  .promotion--card-padded-large {
    padding: 3.5rem;
  }
  .icon--solid-button.icon--position-right {
    margin-left: auto;
  }

  .icon--solid-button.icon--position-center {
    margin-left: auto;
    margin-right: auto;
  }

  .icon--solid-button.icon--position-left {
    margin-right: auto;
    margin-left: 0;
  }
  .image--icon.icon--position-right {
    margin-left: auto;
  }

  .image--icon.icon--position-center {
    margin-left: auto;
    margin-right: auto;
  }

  .image--icon.icon--position-left {
    margin-right: auto;
    margin-left: 0;
  }
  .promotion--card-spearator .promotion--card {
    padding-inline: 2.5rem;
  }
  .promotion--card-spearator .promotion--card + .promotion--card {
    border-inline-start: 0.1rem solid rgba(var(--color-foreground), 0.2);
  }
  .promotion--card-spearator:is(.grid--4-col-desktop)
    .promotion--card:nth-child(4n + 1),
  .promotion--card-spearator:is(.grid--2-col-desktop)
    .promotion--card:nth-child(odd),
  .promotion--card-spearator:is(.grid--3-col-desktop)
    .promotion--card:nth-child(3n + 1) {
    padding-inline-start: 0;
    border-inline-start: 0;
  }
  .promotion--card-spearator:is(.grid--4-col-desktop)
    .promotion--card.color-background-2:nth-child(4n + 1),
  .promotion--card-spearator:is(.grid--2-col-desktop)
    .promotion--card.color-background-2:nth-child(odd),
  .promotion--card-spearator:is(.grid--3-col-desktop)
    .promotion--card.color-background-2:nth-child(3n + 1) {
    padding-inline-start: 2.5rem;
  }
}
@media only screen and (max-width: 749px) {
  .promotion--card-padded-mobile {
    padding: 1.5rem;
  }
  .icon--solid-button.icon--position-center {
    margin-left: auto;
    margin-right: auto;
  }
}
.icon--solid-button {
  display: flex;
  background: rgba(var(--color-button), var(--alpha-button-background));
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.promotion--card-icon .icon--solid-button svg {
  width: 3rem;
  display: inline-block;
  color: rgb(var(--color-button-text));
}
.promotion--card:is(.card-border-radius-true) {
  border-radius: 1rem;
}
.featured-promotion--icon.image--icon {
  max-width: 5rem;
  display: block;
  width: 5rem;
  margin: 0 auto;
}
.featured-promotion--icon > img {
  max-width: 100%;
  height: auto;
}
/* New style added css */
.featured-promotion--icon.image--icon.extrasmall {
  max-width: 5.2rem;
  width: 5.2rem;
}
.featured-promotion--icon.image--icon.small {
  max-width: 9rem;
  width: 9rem;
}
.featured-promotion--icon.image--icon.medium {
  max-width: 13rem;
  width: 13rem;
}
.featured-promotion--icon.image--icon.large {
  max-width: 16rem;
  width: 16rem;
}
.featured-promotion--icon.image--icon.extralarge {
  max-width: 20rem;
  width: 20rem;
}
.promotion--card--border {
  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
}

.promotion__inner--padded {
  padding: 3rem 1.5rem;
}
@media only screen and (min-width: 768px) {
  .promotion__inner--padded {
    padding: 3rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .promotion__inner--padded {
    padding: 5rem 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .promotion__inner--padded {
    padding: 6rem 3rem;
  }
}

.promotion__show--border {
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.promotion__inner--rounded {
  border-radius: 1rem;
}
.section-heading__title  span{
  display: block;
}