.card--media.collection__card {
  display: block;
}

.product__categories--content {
  padding: 1.5rem 0 0;
}

@media only screen and (max-width: 479px) {
  .product__categories--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}

@media only screen and (max-width: 479px) {
  .product__categories--icon {
    margin-top: 8px;
  }
}
.product__categories--icon__link {
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  background: rgba(var(--color-button), var(--alpha-button-background));
  line-height: 3rem;
  color: rgb(var(--color-button-text));
  border-radius: 50%;
  display: inline-flex;
  transition: var(--transition);
  align-items: center;
  justify-content: center;
}
.collection__card:hover .product__categories--icon__link {
  background-color: rgba(var(--primary-button-hover-background));
  color: rgba(var(--primary-button-hover-text)) !important;
  border-color: rgba(var(--primary-button-hover-background));
}
.product__categories--icon__link > svg {
  width: 2rem;
}
a.collection__card {
  display: block;
}
.collection-card--media__wrapper.third {
  width: 28%;
}
.collection-card--media__wrapper.half {
  width: 50%;
}
.collection-card--media__wrapper.four {
  width: 75%;
}
.collection-card--media__wrapper.two {
  margin: 0 auto;
}
.collection-card--media__wrapper.full {
  width: 100%;
}
.placeholder_svg_parent.collection--card-style3 {
  width: 13.5rem;
}
.collection--card__style--3 {
  padding: 10px;
}
.collection--card__style--3 .product__categories--grid__content {
  flex-grow: 1;
  padding-left: 2rem;
}
.collection--card__style--3 .product__categories--icon {
  text-align: right;
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .collection--card__style--3 .collection-card--media__wrapper {
    width: 100%;
  }
  .collection--card__style--3 .product__categories--grid__content {
    padding-left: 1.5rem;
    width: 100%;
    padding-top: 1.5rem;
  }
  .collection--card__style--3 .product__categories--grid__items {
    flex-direction: column;
  }
  .placeholder_svg_parent.collection--card-style3 {
    width: 13rem;
    height: 13rem;
  }
}
.collection--card__style--3 .media {
  background-color: transparent;
}
.collection-card--media__wrapper .media {
  background: transparent;
}
.collection__list--slider.swiper:not(.swiper-initialized) .swiper-wrapper {
  gap: 2rem;
}
.collection--list-card-padded-extra--small:not(
    .collection-card-content-on-container
  )
  .collection--list-media-img--icon {
  min-height: 2.5rem;
}
.collection--list-card-padded-extra--small:not(
    .collection-card-content-on-container
  ) {
  padding: 1.5rem;
}
@media only screen and (min-width: 750px) and (max-width: 991px) {
  [data-show-tablet="2"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(50% - 2rem);
  }
  [data-show-tablet="3"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(33.33% - 2rem);
  }
  [data-show-tablet="4"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(25% - 2rem);
  }
}
@media only screen and (min-width: 992px) {
  .collection__list--slider.swiper:not(.swiper-initialized) .swiper-wrapper {
    justify-content: center;
  }
  [data-slidesperview="2"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(50% - 2rem);
  }
  [data-slidesperview="3"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(33.33% - 2rem);
  }
  [data-slidesperview="4"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(25% - 2rem);
  }
  [data-slidesperview="5"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(20% - 2rem);
  }
  [data-slidesperview="6"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(16.66% - 2rem);
  }
  [data-slidesperview="7"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(14.29% - 2rem);
  }
  [data-slidesperview="8"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(12.5% - 2rem);
  }
  [data-slidesperview="9"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(11.11% - 2rem);
  }
  [data-slidesperview="10"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(10% - 2rem);
  }
  .collection--list-card-padded-large:not(
      .collection-card-content-on-container
    ) {
    padding: 5rem 3rem;
  }
  .collection--list-card-padded-medium:not(
      .collection-card-content-on-container
    ) {
    padding: 3rem;
  }
  .collection--list-card-padded-small:not(
      .collection-card-content-on-container
    ) {
    padding: 3rem 2rem;
  }
  /* .collection-card-content-on-container.collection--list-card-padded-small
    .product__categories--content {
    padding: 1rem 0;
  }
  .collection-card-content-on-container.collection--list-card-padded-medium
    .product__categories--content {
    padding: 4rem 0;
  }
  .collection-card-content-on-container.collection--list-card-padded-large
    .product__categories--content {
    padding: 5rem 0;
  } */
}
.collection__list--slider.hero__slider--activation.swiper:not(
    .show__contents--container
  ) {
  --offset-fluid: 1.5rem;
  margin-left: var(--offset-fluid);
  padding-right: 5rem;
}

@media only screen and (min-width: 992px) {
  .collection__list--slider.hero__slider--activation.swiper:not(
      .show__contents--container
    ) {
    padding-right: 10rem;
  }
  .collection__list--slider.hero__slider--activation.swiper:not(
      .show__contents--container
    ) {
    --offset-fluid: 1.5rem;
  }
}

.collection__list--slider-nav-btn:not(.swiper__nav--btn) {
  border: 0.1rem solid rgba(var(--color-foreground));
  color: rgba(var(--color-foreground));
  position: unset;
  --alpha-button-background: 0;
}
.collection__list--slider-nav {
  display: flex;
  gap: 1.5rem;
}
.top__navigation--with-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 749px) {
  .collection__list--slider.hero__slider--activation.swiper:not(
      .show__contents--container
    ) {
    padding-right: 5rem;
  }
  .top__navigation--with-section-header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .collection__list--slider-nav {
    justify-content: center;
  }
  .top__navigation--with-section-header > * + * {
    margin-top: 2rem;
  }
  .product__categories--icon {
    display: none;
  }
  .product__categories--content__left {
    flex-grow: 1;
    width: 100%;
  }
  .product__categories--content {
    text-align: center;
    justify-content: center;
  }
  .collection--list-card-padded-large:not(
      .collection-card-content-on-container
    ) {
    padding: 2rem;
  }
  .collection--list-card-padded-medium:not(
      .collection-card-content-on-container
    ) {
    padding: 2rem;
  }
  .collection--list-card-padded-small:not(
      .collection-card-content-on-container
    ) {
    padding: 2rem;
  }
  .collection-card-content-on-container.collection--list-card-padded-small
    .product__categories--content,
  .collection-card-content-on-container.collection--list-card-padded-medium
    .product__categories--content,
  .collection-card-content-on-container.collection--list-card-padded-large
    .product__categories--content {
    padding: 2rem 0;
  }
  [data-show-mobile="2"]
    .collection__list--slider.swiper:not(.swiper-initialized)
    .swiper-wrapper
    > .swiper-slide {
    width: calc(50% - 2rem);
  }
}
@media only screen and (min-width: 750px) {
  .collection__list--slider-nav {
    justify-content: flex-end;
  }
}
.collection-card-content-on-container .product__categories--content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.4rem;
}
.text-center .link.with--icon.button--with-icon {
  justify-content: center;
}
.collection-card--alignment-center .collection-card--media__wrapper {
  margin: 0 auto;
}
.collection-card--alignment-right .collection-card--media__wrapper {
  margin-left: auto;
}
.product__items.collection-card-radius {
  border-radius: 0.5rem;
}
.collection__list--slider-nav
  .collection__list--slider-nav-btn.component--slider--nav {
  opacity: 1;
  visibility: visible;
  box-shadow: unset;
  margin: 0;
}
.section--title-with-nav-button > * + * {
  margin-top: 1rem;
}
.collection--list-media-img--icon {
  max-width: 6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
}
.collection--list-media-img--icon > img {
  max-width: 100%;
  height: auto;
  flex-grow: 1;
}
.collection--shadow-on-hover:hover {
  box-shadow: 0 0 1.2rem rgba(var(--color-foreground), 0.12);
}
.collection--shadow-on-hover {
  transition: var(--transition);
}
.collection--list-svg.collection-card--svg-icon {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  padding: unset;
}
.collection-card-content-on-container.collection--list-card-padded-extra--small
  .product__categories--content {
  bottom: 1.5rem;
}
.collection-card-content-on-container.collection--list-card-padded-small
  .product__categories--content {
  bottom: 3rem;
}

.collection-card-content-on-container.collection--list-card-padded-medium
  .product__categories--content {
  bottom: 4rem;
}
.collection-card-content-on-container.collection--list-card-padded-large
  .product__categories--content {
  bottom: 5rem;
}
.product__items.collection-card-radius {
  overflow: hidden;
}
.product__items.collection-card-radius .placeholder_svg_parent {
  border-radius: 0.5rem;
  overflow: hidden;
}
.placeholder_svg_parent.collection--list-svg.media--circle {
  border-radius: 100%;
  overflow: hidden;
}
